/* Scroll personalizado */
body::-webkit-scrollbar{
  width: 11px;
  background: gray;
}
body::-webkit-scrollbar-thumb{
  background:  var(--color-primario);
  border-radius: 5px;
}
body{
    background-color: white;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
:root{
    --color-primario: #EBBA4D
}
h1{
    font-size:27px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins";
}
.bannerHome{
  border: red solid 2px;
  height: 70vh;
  overflow: hidden;
  position: relative;
}
.bannerHome img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.bannerHome button{
  position: absolute;
  width: 300px;
  height: 50px;
  bottom: 10%;
  right: 40%;
  background-color: #212529;
  border: black solid 3px;
  font-size: 18px;
  color: white;
  transition: .3s ease-in-out;
}
.bannerHome button:hover{
  background-color: var(--color-primario);
  scale: 1.03;
  border-radius: 10px;
}
.textoHome{
  padding: 50px;
  font-size: 18px;
  color: white;
  background-color: #212529;
}

.seccionCotiza{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  
  border: red solid 2px;
  width: 1000px;
  margin: 0 auto;
}
.columnaCotiza{
  border: blue solid 2px;
  font-size: 18px;
}
.cotizaTitulo{
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 50px;
}
.cotizaTexto{
  font-weight: bold;
  font-size: 18px;
}
.paso{
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: bold;
}
.numeroPaso{
  border-radius: 100%;
  padding: 10px;
  border: black solid 3px;
  color: orangered;
  font-size: 25px;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------------------*/
.columnaCotiza form{
  width: 400px;
  border: red solid 2px;
  padding: 30px 20px;
  border-radius: 5px;
  background-color:#848484;
  color: white;
}
.filaFormulario{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.columnaFormulario{
  display: flex;
  flex-direction: column;
  border: violet solid 3px;
  width: 170px;
}
.columnaSelectFormulario{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.columnaCotiza input, select{
  border-radius: 5px;
  border: none;
  padding:9px;
  font-size: 15px;
  color: gray;
}
.columnaCotiza input:hover, select:hover{
  background-color:black;
}
.columnaCotiza button{
  border-radius: 5px;
  border: black solid 1px;
  padding:5px;
  background-color: var(--color-primario);
  margin-top: 5px;
  transition: .3s ease-in-out;
  font-weight: bold;
}
.columnaCotiza button:hover{
  background-color: black;
  color: white;
}

/* SECCION PRODUCTOS */

.seccionProductosHome{
  padding: 50px;
}
.productoHomePadre{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: red solid 2px;
  margin: 0 auto;
  justify-content: center;
}
.productoHome{
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
  transition: .3s ease-in-out;
  cursor: pointer; /* mouse en modo hipervinculo */
  overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
  width: 350px;
}
.productoHome:hover{
  box-shadow: 2px -1px 19px 7px rgba(194,184,194,0.86);
}
.productoHome p{
  font-size:17px;
  margin-top:5px;
  font-weight: 600;
}
.productoHome img{
  width: 350px;
  object-fit: cover;
  height: 350px;
  transition: .3s ease-in-out;
  overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
}
.productoHome:hover .imagenAumentada{
  transform: scale(1.2); 
  cursor: pointer; /* mouse en modo hipervinculo */
}
.imagenAumentada{
  transition: 0.3s ease-in-out;
}
.cajaImagen{
  overflow: hidden;
  width: 350px;
  height: 350px;
}