.carousel-item{
    height: 100vh;
}
.carousel-item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.team-item {
    transition: .5s;
}
.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
  
.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}
  
.team-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
}
  
.team-item:hover .team-social {
    background: rgba(0, 0, 0, 0.5);
}
  
.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}
  
.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}
  
.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}
  
.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}
  
.team-item .team-img img {
    transition: .5s;
}
  
.team-item:hover .team-img img {
    transform: scale(1.2);
}
.cajaPresentacionSG{
    width: 100%;
    margin: 0px auto 80px auto;
    display: flex;
    color: white;
    background-color:#212529;
    justify-content: center;
}
.cajaLogoPresentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 505px;
}
.cajaLogoPresentacion img{
    width: 100%;
    height: 400px;
}
.textoPresentacion{
    padding: 3% 2% 1% 2%;
    width: 650px;
    text-align: justify;
}
.tituloVirtudes{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.virtudesAgencia{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1% auto;
    justify-content: center;
}
.virtud{
    width: 400px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 0 20px #CCCCCC;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.virtud:hover{
    transform: scale(1.03);
}
.virtud:hover .cajaIconoVirtur{
    background-color: var(--color-primario);
    color: white;
}
.cajaIconoVirtur{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    transition: .3s ease-in-out;
    border: var(--color-primario) solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cajaIconoVirtur i{
    font-size: 50px;
}
.tituloVirtud{
    font-weight: bold;
    text-transform: uppercase;
}

.cajaPadreExperiencia{
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: "Poppins", sans-serif;
}
.cajaTrofeo{
    background:black;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px
}
.cajaTrofeo i{
    font-size:180px
}
.numeroAños{
    font-size: 80px;
    font-weight: bold;
}
.textoAños{
    font-size: 40px;
    font-weight: bold;
}
.cajaSomosDistintos{
    width: 600px;
    margin-right: 50px;
}
.subtituloDistintos{
    font-weight: bold;
}
.tituloDistintos{
    font-size: 35px;
    font-weight: bold;
}
.textoDistintos{
    margin: 10px 0 20px 0;
}
.contador{
    font-size: 30px;
    font-weight: bold;
    color:var(--color-primario)
}
.tituloContador{
    font-weight: bold;
    font-size: 18px;
}

@media(max-width: 1300px){
    .cajaPresentacionSG{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .cajaLogoPresentacion{
        width: 100%;
    }
    .cajaLogoPresentacion img{
        width: 100%;
        height: 100%;
        object-fit: cover; /* se come la caja la imagen pero no la deforma */
    }
    .textoPresentacion{
        margin-top: 30px;
        width: 100%;
    }
}
@media(max-width:1100px){
    .cajaPadreServicios{
        width:90%
    }
    .cajaPadreExperiencia{
        flex-direction: column;
    }
    .cajaSomosDistintos{
        width: 90%;
        margin: 0 auto 30px auto;
    }
    .cajaTrofeo{
        width: 90%;
    }
}

@media (max-width:1000px){ 
    .cajaPresentacionSG{
        flex-direction: column;
    }
    .cajaLogoPresentacion{
        padding-right: 0%;
        text-align: center;
    }
}
@media(max-width:600px){
    .cajaServicio{
        width: 150px;
        height: 200px;
    }
    .iconoServicio{
        width: 50px;
        height: 50px;
        font-size: 25px;
        margin-bottom: 12px;
    }
    .textoServicio{
        font-size: 16px;
    }
    .logoNosotrosIndex{
        width: 100%;
    }
    .textosNosotrosIndex{
        width: 95%;
    }
    .cajaImagenaAumentar{
        width: 350px;
    }
}
@media(max-width:400px){
    .cajaPadreExperiencia {
        margin: 50px auto;
        width: 100%;
    }
    .cajaServicio{
        width: 90%;
        padding: 25px 25px;
    }
    .iconoServicio{
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
    .somosIndex{
        font-size: 30px;
    }
    .tituloDistintos{
        font-size: 30px;
    }
}
@media(max-width:450px){
    .cajaPadreExperiencia {
        margin: 50px auto;
        width: 100%;
    }
    .textoDistintos{
        text-align: justify;
    }
    .cajaTrofeo{
        height: 400px;
    }
    .cajaTrofeo i{
        font-size: 135px;
    }
    .numeroAños{
        font-size: 65px;
    }
    .textoAños{
        font-size: 30px;
    }
    .somosIndex{
        font-size: 30px;
    }
    .comercializadoraIndex{
        font-size: 22px;
    }
    .tituloDistintos{
        font-size: 30px;
    }
}