.presentacionProductos{
  margin-top: 85px;
  border: red solid 3px;
  width: 80%;
  margin: 20px auto 10px auto;
  font-family: "Poppins";
  font-size: 18px;
  background-color: gray;
}
.tituloModelo{
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 45px;
  color: var(--color-primario);
  text-shadow: -1px 4px 3px black;
  
  padding-top: 5%;
}
.cajaImagenesModelos{
  display: flex;
  padding: 2% 0;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cajaImagenesModelos a{
  width:500px;
  height: 400px;
  margin: 10px;
  overflow: hidden; /* la imagen no se sale de su caja al expandirse con el hover */
}
.cajaImagenesModelos img{
  width: 100%;
  height: 400px;
  filter: grayscale(100%);
  transition: .3s ease-in-out;
  object-fit: cover; /* no deforma la imagen ni se sale de la caja */
}
.cajaImagenesModelos a:hover img{
  filter: grayscale(0%);
  transform: scale(1.1); 
}
.lg-actions .lg-prev:after { /* Iconos para flechas de lightGallery */
  content: "←" !important;
  font-size: 50px;
}
.lg-actions .lg-next::before {
  content: "→" !important;
  font-size: 50px;
}
.lg-toolbar .lg-close::after {
  content: "×" !important;
  font-size: 50px;
}
.lg-toolbar .lg-download:after { /* Boton para descargar imagen de lightGallery */
  display: none;
}
.detalleProducto{
  padding: 30px 200px;
  text-align: justify;
  border: 1px solid black;
  width: 100%;
  font-family: "Poppins";
  font-size: 18px;
  color: white;
  margin: 45px auto 30px auto;
  background-color: #212529;
}
.seccionServicios{
  background: url(../img/fondoPiedraGris.jpg);
  padding:10px 0 50px 0
}
.tituloServicios{
    text-align: center;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 25px;
    margin-top: 3%;
    color: var(--color-primario);
    text-shadow: -1px 4px 3px rgba(0, 0, 0, 0.885);
}
.tituloOfrecemos{
    text-align: center;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 45px;
    color: black;
    text-shadow: -1px 4px 3px rgba(0,0,0,0.48);
    margin-bottom: 15px;
}
.cajaPadreOfrecemos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cajaServicio{
    background-color: var(--color-primario);
    color: #fff;
    width: 230px;
    height: 280px;
    text-align: center;
    margin: 20px;
    padding: 50px 25px;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    user-select: none; /* No se puede seleccionar el texto de la caja */
}
.iconoServicio{
    color: black;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius:100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.textoServicio{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.cajaServicio:hover{
    background: #212529;
    box-shadow: 0 0 30px #CCCCCC;
    transform: translateY(-10px); 
}
